{% extends 'layout.html' %}
{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/registro.css') }}">
{% endblock %}
{% block titulo %}PAIT{% endblock %}
{% block contenido %}

<div class="main-container shadow">
    <div class="form-side">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} w-100 py-2 text-xs mb-3" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="POST" class="w-100 text-center">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <h1 class="fw-bold text-2xl mb-3">Iniciar Sesión</h1>

            <div class="container-input">
                <input type="text" name="codigo" placeholder="Código" required />
                <input type="password" name="password" placeholder="NIP" required />
                <input type="text" name="celular" placeholder="Número de Celular" required />
                <input type="email" name="correo" placeholder="Correo Electrónico" required />
            </div>
            <div>
            <a href="{{ url_for('recuperar')}}" class="text-xs text-gray-600 no-underline block my-3 hover:text-cyan-600">
                ¿Olvidaste tu NIP?
            </a>
            </div>
            <button type="submit" class="btn-login shadow-sm">Entrar</button>
        </form>
    </div>

    <div class="image-side d-none d-md-block">
        <div class="image-overlay">
            <h1 class="fw-bold text-3xl mb-3">¡Bienvenido!</h1>
            <p class="text-sm leading-relaxed">Accede para continuar con tus actividades académicas.</p>
        </div>
    </div>
</div>

{% endblock %}